{% extends 'base.html' %}

{%block css%}
<link rel="stylesheet" href="../static/camisetas.css">{%endblock%}

{%block title%} Camisetas {%endblock%}

{%block content%}


<div class="headlineC">

    <div class="headlineC-content">
      <img src="../static/imagens/sp-cc.png" style="width: 250px;">
      <h2 style="font-size: 45px;">CAMISETAS</h2>
    </div>
  
  </div>

<p></p>

<p></p>
<div class="card-container">
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2013/10/1930b1.gif">
        <div class="card-content">
            <h3>CAMISA 1</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2013/11/1933_ii_a1.gif">
        <div class="card-content">
            <h3>CAMISA 2</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2019/06/1940_iii_b.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2014/01/1966_iii_a.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2014/01/2000_iii_a.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2014/01/2000_iii_a.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2014/01/2013_iii_a.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2014/01/2015_iii_a.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2014/01/2015_gol_x.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2014/01/2016_iii_a.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2014/01/2016_iii_b.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2014/01/2016_iii_c1.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2014/01/2017_iii_a.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2019/08/2019_iii_a.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2020/09/2020_iii_b-1.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2022/08/2022_iii_a.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>
    <div class="card">
        <img src="https://omantotricolor.files.wordpress.com/2022/08/2022_iii_a.gif">
        <div class="card-content">
            <h3>CAMISA ALTERNATIVA</h3>
        </div>
    </div>



</div>






{%endblock%}