{% extends 'base.html' %}

{%block css%}
<link rel="stylesheet" href="../static/index.css"> {%endblock%}

{%block title%}Index{%endblock%}

{%block content%}

<div class="container-index">

    <div class="container-background"></div>

    <div class="container-index-content"></div>
        <div class="img-container-index">
            <img class="img-content" src="../static/imagens/sp-cc.png">
        </div>

        <h1>SÂO PAULO FUTEBOL CLUBE</h1>
        <p></p>
        <p></p>
        <p>Bem vindo ao resumo da história e principais características do São Paulo Futebol Clube</p>
    </div>
</div>

{%endblock%}