{% extends 'base.html' %}

{%block css%}
<link rel="stylesheet" href="../static/index.css"> {%endblock%}

{%block title%}Index{%endblock%}

{%block content%}
<div class="headline">

    <div class="headline-content">
        <img src="../static/imagens/sp-cc.png" style="width: 250px;">

        <h2 style="font-size: 45px;">SÃO PAULO FUTEBOL CLUBE</h2>
        <h2>Neste site está eternizada a história e características de um dos
            maiores clubes do mundo!</h2>
    </div>

</div>

<div class="container-section">

    <h3 style="text-align: center;"> Início do Clube</h3>

    <div class="sectionT">
        <div class="paragrafo">
            <p>No dia 27 de janeiro de 1930, às 14 horas, foi assinada a ata de fundação do São Paulo Futebol Clube, no
                número 28 da Praça da República, nascido da união entre a Associação Atlética das Palmeiras e o Club
                Athlético Paulistano, ficando como data magna do clube o dia 25 de janeiro de 1930, dia e mês de
                preferência
                de seus fundadores por se tratar da data em que foi fundada a cidade de São Paulo.</p>

            <p>Entretanto, a real data de fundação é dúbia, por ser apresentada de maneira diferente nos meios de
                comunicação. Para o clube, ela aconteceu no dia 25 de janeiro de 1930. Para uma alguns meios de
                comunicação
                a fundação ocorreu no dia 26 de janeiro devido aos atrasos na confecção do estatuto, que fez com que a
                assembleia de fundação ocorresse somente nesse dia. Porém, o referido dia era um domingo. Cabe-se
                concluir,
                portanto, que a ata teria sido registrada no dia 27 de janeiro conforme corroboram o jornal A Gazeta
                Esportiva e a própria FIFA.</p>

            <p>Para a criação do novo clube, sessenta integrantes do Club Athletico Paulistano decidiram ceder seus
                jogadores campeões paulistas de 1929, enquanto a Associação Atlética das Palmeiras entraria com seu
                estádio,
                a Chácara da Floresta. Conservando as tradições do passado, o uniforme do novo clube estamparia as
                faixas
                vermelhas e pretas em homenagem aos dois clubes fundadores. Seu escudo e sua camisa foram desenhados
                pelo
                estilista alemão Walter Ostrich, com a colaboração de Firmiano de Morais Pinto Filho, um dos presentes à
                fundação. O nome escolhido para endossar o desejo de fundar um clube que representasse a cidade nos
                âmbitos
                mais variados não foi outro senão São Paulo Futebol Clube, que ficou conhecido como São Paulo da
                Floresta
                apenas recentemente devido à localização de seu estádio. A primeira diretoria foi formada por: Edgard de
                Souza Aranha (presidente), Alberto Caldas (primeiro vice), Gastão Tachou (segundo vice), Benedito
                Montenegro
                (terceiro vice), Luís de Oliveira Barros (primeiro secretário), José Martins Costa (segundo secretário),
                João B. da Cunha Bueno (primeiro tesoureiro) e Caio Luís Pereira de Souza (segundo tesoureiro).</p>


            <p>Primeiro treino da equipe. À esquerda o time "A" com a camisa do Paulistano e à direita o time "B" com a
                Camisa da Palmeiras.
                Os primeiros anos do clube coincidiram com acontecimentos que marcaram época no futebol brasileiro. Pois
                foi
                1930 o ano da primeira Copa do Mundo, e apenas a partir dele que uma partida passou a ser disputada em
                dois
                tempos de 45 minutos. E apenas em 1933 é que o primeiro jogo profissional do país foi disputado, com a
                equipe do São Paulo sendo uma das protagonistas juntamente ao Santos.</p>

            <p>Sobre esse primeiro jogo do profissionalismo, cabe ressaltar que foi nele que o apelido do Santos,
                "peixe",
                foi dito pela primeira vez. Tratou-se de uma provocação, antes do início do jogo, da torcida tricolor
                com os
                jogadores do clube praiano, chamando-os de "peixeiros" de maneira pejorativa. A torcida santista
                retrucou
                dizendo "Somos peixeiros, e com muita honra!". A partir daí o apelido foi adotado pelo clube santista, e
                a
                mascote, a Baleia, foi criada.</p>
        </div>

        <div>
            <img class="img1-section" src="../static/imagens/são-paulo-primeiro-time-2.png">
        </div>
        
        
    </div>
    
    <div class="sectionT">
        <div>
            <img class="img2-section" src="../static/imagens/Memorial_-_foundation_-_01.jpg">
        </div>
        <div class="paragrafo">
            <p>Equipe do São Paulo Futebol Clube, em 1932.
                Desde seu início demonstrou ser um clube democrático, pois aceitava de modo irrestrito jogadores de
                qualquer
                etnia, classe social ou origem. Também foi o único clube da capital paulista a ter um ex-jogador —
                Roberto
                Gomes Pedrosa — como presidente.Como conquistas, o Tricolor Paulista venceu o Campeonato Paulista de
                1931 em
                seu segundo ano de vida, e conseguiu sagrar-se vice em 1930, 1932, 1933 e 1934. Foi também
                vice-campeão do
                Torneio Rio-São Paulo de 1933. Portanto, o Tricolor Paulista, clube recém-fundado, estava no topo do
                futebol
                local, um fato extraordinário, mas nem tanto se levadas em considerações suas origens vencedoras.
            </p>

            <p>O São Paulo comprou, então, uma nova sede, suntuosa, localizada na Rua Conselheiro Crispiniano (no
                centro
                da
                cidade), um pequeno palácio conhecido como "Trocadero", ao custo de 190 contos de réis. Essa dívida
                era
                grande para a época, porém o clube, detentor de um campo como o da Floresta e um quadro de jogadores
                que
                valia muito, não se deixava abalar por isso. Porém alguns dirigentes do clube, que andavam
                descontentes com
                os rumos do futebol no país, resolveram fundir-se com o Clube de Regatas Tietê e acabar com o
                departamento
                de futebol. Outro grupo, favorável à continuidade do clube e liderado por Paulo Sampaio foi à
                Justiça e, no
                dia 23 de abril de 1935, impugnou o direito de a diretoria fundir o clube com o Tietê sem que a
                opinião dos
                sócios fosse ouvida.</p>


            <p>Time do São Paulo de 1933.
                Os próprios jogadores foram contra tudo o que estava ocorrendo. Tanto é que se juntaram para formar
                o
                efêmero Independente Esporte Clube. Os atletas remanescentes do São Paulo foram, porém, atraídos por
                outros
                clubes, e o Independente acabou extinto.Nesta época o time foi campeão paulista de 1931 e do Torneio
                Início
                de 1932.</p>

            <p>Os sócios obtiveram ganho de causa mesmo após a defesa da diretoria do clube. A diretoria não teve
                outra
                saída senão convocar uma assembleia geral. Porém o artigo 2.º dos estatutos do clube à época dizia
                que
                somente os "sócios-fundadores", considerados "proprietários" do clube e que somavam duzentos,
                poderiam
                compor a assembleia. Como a maioria deles era ligado à diretoria, a fusão foi aprovada em 14 de maio
                de
                1935. Nesse dia, debaixo de chuva, o departamento de futebol foi oficialmente extinto e desfiliado
                da APEA.
            </p>

            <p>Com a fusão, a parte administrativa foi fundida ao Tietê, que incorporou todos os patrimônios físicos
                e, em
                troca, quitaria os débitos do clube e não poderia usar as cores, uniformes e símbolos do São Paulo.
                Surgia
                assim o Tietê-São Paulo.Contudo, alguns sócios indignados com a fusão ao Clube de Regatas Tietê
                decidiram
                criar o Grêmio Tricolor,
                uma associação que refundaria o clube em 16 de dezembro de 1935, preservando as glórias e tradições
                de
                outrora.</p>
        </div>

    </div>

</div>



{%endblock%}