{% extends 'base.html' %}

{%block css%}
<link rel="stylesheet" href="../static/index.css"> {%endblock%}

{%block title%}Index{%endblock%}

{%block content%}
<div class="headline">

   <div class="headline-content">
        <img src="../static/imagens/sp-cc.png" style="width: 250px;">

            <h2 style="font-size: 45px;">SÃO PAULO FUTEBOL CLUBE</h2>
            <h2>Neste site está eternizada a história e características de um dos
                maiores clubes do mundo!</h2>
    </div>

</div>

<div class="section">
        <h3>Início do Clube</h3>
                <p>
                    "O início da história do São Paulo Futebol Clube (SPFC) se deu em função da história do Clube
                    Atlético
                    Paulistano. Este sempre foi um clube de peso na cidade de São Paulo, mas não era a favor do
                    profissionalismo
                    que o futebol estava adotando. O resultado foi que alguns jogadores do Paulistano migraram para um
                    outro
                    clube, a Associação Atlética das Palmeiras, que possuía um estádio próprio, mas que estava com
                    muitas
                    dívidas. Foi essa fusão que deu origem ao São Paulo, no dia 27 de janeiro de 1930, mas, por motivo
                    simbólico
                    (data de aniversário da fundação da cidade de São Paulo), o documento oficial ficou datado de 15 de
                    janeiro
                    de 1930.

                    Com muitos títulos conquistados desde a primeira década de sua existência, o São Paulo Futebol
                    Clube, na
                    década de 1960, passou a investir na construção de um estádio até hoje gigantesco: o Cícero Pompeu
                    de
                    Toledo, popularmente chamado de Morumbi.

                    O uniforme oficial do São Paulo é camisa branca, com duas listras horizontais em vermelho e preto,
                    short
                    branco e meias brancas com listras horizontais iguais às da camisa. O segundo uniforme é short e
                    meias
                    pretas, acompanhados de camisa vermelha com listras verticais grossas em preto e finas em branco."


                </p>

    </div>

</div>
















<!-- <div class="pag-index">


    <div class="headline">

        <div class="background-headline">
            <img class="imagem" src="../static/imagens/torcidasp.jpg">
        </div>

        <div class="headline-content">
            <img src="../static/imagens/sp-cc.png" style="width: 250px;">

            <h2 style="font-size: 45px;">SÃO PAULO FUTEBOL CLUBE</h2>
            <h2 style="color: rgb(24, 24, 24);">Neste site está eternizada a história e características de um dos
                maiores clubes do mundo.</h2>
        </div>



        <div class="section">

            <div class="section-content">
                <h3>História do Clube</h3>
                <p>
                    "O início da história do São Paulo Futebol Clube (SPFC) se deu em função da história do Clube
                    Atlético
                    Paulistano. Este sempre foi um clube de peso na cidade de São Paulo, mas não era a favor do
                    profissionalismo
                    que o futebol estava adotando. O resultado foi que alguns jogadores do Paulistano migraram para um
                    outro
                    clube, a Associação Atlética das Palmeiras, que possuía um estádio próprio, mas que estava com
                    muitas
                    dívidas. Foi essa fusão que deu origem ao São Paulo, no dia 27 de janeiro de 1930, mas, por motivo
                    simbólico
                    (data de aniversário da fundação da cidade de São Paulo), o documento oficial ficou datado de 15 de
                    janeiro
                    de 1930.

                    Com muitos títulos conquistados desde a primeira década de sua existência, o São Paulo Futebol
                    Clube, na
                    década de 1960, passou a investir na construção de um estádio até hoje gigantesco: o Cícero Pompeu
                    de
                    Toledo, popularmente chamado de Morumbi.

                    O uniforme oficial do São Paulo é camisa branca, com duas listras horizontais em vermelho e preto,
                    short
                    branco e meias brancas com listras horizontais iguais às da camisa. O segundo uniforme é short e
                    meias
                    pretas, acompanhados de camisa vermelha com listras verticais grossas em preto e finas em branco."


                </p>
            </div>
        </div>
    </div> -->
    {%endblock%}