{% extends 'base.html' %}

{%block css%}
<link rel="stylesheet" href="../static/títulos.css"> {%endblock%}

{%block title%} Títulos {%endblock%}

{%block content%}
<div class="headlineT">

    <div class="headlineT-content">

        <h2 style="font-size: 45px;">PRINCIPAIS TÍTULOS</h2>
    </div>

</div>
<div class="container py-5">
    <div class="carousel slide" data-bs-ride="carousel" id="ads">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="../static/imagens/ESCUDO.JPG?random=1" alt="" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="../static/imagens/ESCUDO.JPG?random=2" alt="" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="../static/imagens/ESCUDO.JPG" alt="" class="d-block w-100">
            </div>
            <div class="carousel-item ">
                <img src="" alt="" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="" alt="" class="d-block w-100">
            </div>
            <div class="carousel-item ">
                <img src="" alt="" class="d-block w-100">
            </div>

                <button class="carousel-control-prev" data-bs-target="#ads" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>

                </button>
                <button class="carousel-control-next" data-bs-target="#ads" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>

                </button>



        </div>



    </div>


</div>
{%endblock%}