* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:  rgba(202, 0, 0, 0.974);
    
}

.headlineC{
    height: 60vh;
    display: grid;
    place-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.936);
    
}

.headlineC::before{
    background-image: url('../static/imagens/torcidasp.jpg');
    background-size: cover;
    background-position: center;
    content:'';
    position: absolute;
    inset:0;
    opacity: 0.5;  

}

.headlineC-content{
    position: relative;
    z-index: 1;
    text-align: center;
}

.headlineC-content h2{
    text-align: center;
    isolation: isolate;
    color: beige;
}










.card-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;

}

.card{
    width: 325px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin:20px;
}   

.card img{
    width: 100%;
    height: auto;

}

.card h3{text-align: center; color:rgb(255, 255, 255);}
.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;

}

