*{
    box-sizing: border-box;

}

body{
    background-color:  rgba(202, 0, 0, 0.974);
    
}


/* HEADLINE BOOTSTRAP JUMBOTRON */

.headline{
    height: 60vh;
    display: grid;
    place-items: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.936);
    
}

.headline::before{
    background-image: url('../static/imagens/torcidasp.jpg');
    background-size: cover;
    background-position: center;
    content:'';
    position: absolute;
    inset:0;
    opacity: 0.5;  

}

.headline-content{
    position: relative;
    z-index: 1;
    text-align: center;
}

.headline-content h2{
    text-align: center;
    isolation: isolate;
    color: beige;
}



/* .............................................. */
/*                   SECTION CONTENT              */


.container-content p{
    color: aliceblue
    ;
} 
.container-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
  }

.container-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

.container-content h3 {
    color: rgb(255, 255, 255);
    margin-top: 2px;
    text-align: center;
  }

.container-content p {
    margin-bottom: 20px;
  }
    



.img1{
    width: 752px;
}