*{
    box-sizing: border-box;

}


/* HEADLINE BOOTSTRAP JUMBOTRON */

.headline{
    height: 60vh;
    display: grid;
    place-items: center;
    position: relative;
    background-color: rgba(222, 14,13 );
    
}

.headline::before{
    background-image: url('../static/imagens/torcidasp.jpg');
    background-size: cover;
    content:'';
    position: absolute;
    inset:0;
    opacity: 0.5;  
}

.headline-content{
    position: relative;
    z-index: 1;
    text-align: center;
}

.headline-content h2{
    text-align: center;
    isolation: isolate;
    color: beige;
}



/* .............................................. */
/*                   SECTION CONTENT              */
.container-section img{
    width: 600px;
    height: 500px;
}



.sectionT{
    display: flex;
    margin-left:5% ;
    margin-right: 5%;
}
.sectionT img{
    max-width: 500px ;
    max-height: 500px;
}

.paragrafo p{
    flex-wrap: column wrap ;
    font-size: 13px;
}


.img2-section{
    max-width: 1000px ;
    max-height: 1000px;
}

.img1-section{
    max-width: 1000px ;
    max-height: 1000px;
}