*{
    box-sizing: border-box;

}


/* HEADLINE BOOTSTRAP JUMBOTRON */

.headline{
    height: 60vh;
    display: grid;
    place-items: center;
    position: relative;
    background-color: rgb(255, 0, 0);
    
}

.headline::before{
    background-image: url('../static/imagens/torcidasp.jpg');
    background-size: cover;
    content:'';
    position: absolute;
    inset:0;
    opacity: 0.5;  
}

.headline-content{
    position: relative;
    z-index: 1;
    text-align: center;
}

.headline-content h2{
    text-align: center;
    isolation: isolate;
    color: beige;
}



/* .............................................. */


 .section{
    background-color: rgb(255, 255, 255);      
    border: solid black 4px;
    text-align: left;

 }
 
.section-content{
    background-color: aliceblue;
}

.section-content h3{
    text-align: center;
}























/* .container-index{
    background-image: url('../static/imagens/torcidasp.jpg');
    background-size: cover; 
    background-position: center; 
    max-width: 100%;
    max-height: 100%;
}

.img-content{
    max-width: 30%;
    max-width: 30%;
}
.background{

    background-image: url('../static/imagens/torcidasp.jpg');
    
}


.container-index-content{
    text-align: center;
} */


