@import url('/source/static/normalize.css');
@import url('/source/static/index.css');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
}
/* Design nav bar e fotter da base.html */
.imagem-logo{

    max-width: 75px ;
    max-height:75px;
    background-color: #212529 ;
}

/*  footer */
 footer { 
    background-color: #212529;
    padding: 10px; 
    text-align: center; 
    width: 100%; 
    bottom: 0;

}

footer p{
    color: aliceblue;
}

