*{
box-sizing: border-box;
}
/* HEADLINE _______________________________________ */
.headlineT{
    height: 60vh;
    display: grid;
    place-items: center;
    position: relative;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.771);
    
}

.headlineT::before{
    background-image: url('../static/imagens/ESCUDO.JPG');
    background-size: cover; 
    content:'';
    position: absolute;
    inset:0;
    opacity: 0.5;  
}

.headlineT-content{
    position: relative;
    z-index: 1;
    text-align: center;
}

.headlineT-content h2{
    text-align: center;
    isolation: isolate;
    color: beige;
}

/* ................................................. */
/* Section content.................................................. */
 