* {
    box-sizing: border-box;
}

/* HEADLINE _______________________________________ */
.headlineT {
    height: 60vh;
    display: grid;
    place-items: center;
    position: relative;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.771);

}

.headlineT::before {
    background-image: url('../static/imagens/fotos-blog-2023-09-25T125058.869.png');
    background-size: cover;
    height: 100%;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
}

.headlineT-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.headlineT-content h2 {
    text-align: center;
    isolation: isolate;
    color: beige;
}

/* ................................................. */
/* Section content.................................................. */

.slide {
    z-index: 0;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}

.image-cover {
    max-height: 100vh;
    mask-image: none;
    image-rendering: auto;
}

.carousel {
    margin: 5%;

}

.d-md-block {
    color: #000000;
    text-transform: uppercase;
}

.carousel-item img {
    opacity: 0.82;
}

.background {
    background-color: #a60000;
    padding-top:5% ;
    padding-bottom: 5% ;
}